#project-cvutness-video-section {
    margin: 0 auto;

    height: 300vh;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 50px;

    
    border-left: var(--primary-border);
    border-right: var(--primary-border);
}

#project-cvutness-video-section .video-wrapper {
    margin-top: 50px;
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
}

.video-wrapper .div1 img {
    margin-top: 15px;
    width: 70%;
}

.video-wrapper div ul {
    margin-top: 25px;
    padding-left: 15px;
}

.video-wrapper div ul li {
    margin-top: 12px;
}

.video-wrapper div {
    margin-top: 35px;   
}

.video-wrapper .div2 img {
    margin-top: 15px;
    width: 70%;
}

.video-wrapper .div3 img {
    margin-top: 15px;
    width: 70%;
}

