

#back-to-main-web {
    margin: 0 auto;

    height: 20vh;
    width: 100%;
    max-width: calc(100% - 20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#back-to-main-link {
    margin: 0 auto;
    margin-top: 35px;

    text-align: center;
    
    text-transform: uppercase;
    font-family: var(--goldman-font);
    font-size: .9em;
}

#custom-header-for-other-pages h1 {
    font-size: 2.6em;
}

#contact-page-main-section {
    height: 80vh;
    padding: 80px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-page-main-section form {
    width: 80%;
    max-width: 600px;
}

#contact-page-main-section form .input-group {
    margin-bottom: 35px;
    position: relative;
}
 
#contact-page-main-section form .input-group input, #contact-page-main-section form .input-group textarea {
    width: 100%;
    padding: 10px;
    outline: none;

    border: 1px solid var(--red-enchanted-text);
    color: var(--primary-light-text);
    background: transparent;

    font-size: 1em;
} 

#contact-page-main-section form .input-group label {
    height: 100%;
    position: absolute;

    left: 0;
    top: 0;

    padding: 10px;

    color: var(--primary-light-text);
    cursor: text;

    transition: .2s;
}

#contact-page-main-section form button {
    padding: 10px 0;
    color: var(--primary-light-text);
    outline: none;
    background: transparent;
    border: 1px solid var(--red-enchanted-text);
    width: 100%;
    cursor: pointer;
}

#contact-page-main-section form .input-group input:focus~label, #contact-page-main-section form .input-group input:valid~label {
    top: -35px;
    font-size: .85em;
}

#contact-page-main-section form .input-group textarea:focus~label, #contact-page-main-section form .input-group textarea:valid~label {
    top: -35px;
    font-size: .85em;
}


