#main-section {
    margin: 0 auto;

    height: 100vh;
    width: 100%;
    max-width: calc(100% - 20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 100px 20px;
}


#main-section #main-content {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
#main-section #main-content .main-content-left { 
    grid-area: 1 / 1 / 2 / 2; 
}

#main-section #main-content .main-content-right { 
    grid-area: 1 / 2 / 2 / 3; 
}

#main-section #main-content .main-content-below { 
    grid-area: 2 / 1 / 3 / 3; 
}
