#projects-section {
    margin: 0 auto;

    height: 100vh;
    width: 100%;
    max-width: calc(100% - 20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 100px 20px;
}

#projects-section h2 {
    text-align: center;
    font-size: 2.6em;
}

#projects-section hr{
    margin-top: 25px;

    width: 60%;
    height: 1px;
    
    background: linear-gradient(270deg, rgb(211, 211, 211) 52.52%, rgba(255, 255, 255, 0) 104.99%);
    
    border: none;
}

#projects-section .projects-wrapper {
    margin-top: 35px;

    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#projects-section .projects-wrapper h3 {
    margin-top: 25px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: var(--goldman-font);
}

#projects-section .projects-wrapper h3 a {
    font-size: .7em;
    opacity: .3;
}

#projects-section .projects-wrapper h3 a:hover, #projects-section .projects-wrapper h3 a:focus {
    opacity: 1;
}

