#head-blog-section {
    margin: 0 auto;

    height: 50vh;
    width: 100%;
    max-width: calc(100% - 20px);

    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 50px 0;
}

#head-blog-section .blog-navigation  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

#join-community {
    text-transform: uppercase;
    font-family: var(--goldman-font);
    font-size: .9em;
    color: var(--red-enchanted-text);
}

#blog-heading {
    margin-top: 75px;
    text-align: center;
    font-size: 2em;
}
