#contact {
    height: 120vh;
    padding: 100px 0;

    margin: 0 auto;
    width: 1440px;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#contact .contact-heading {
    margin: 0 auto;
    width: 1440px;

    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

#contact .contact-heading h2 {
    font-weight: 300;
    color: #B50000;

}

#contact .contact-heading hr {
    margin: 0 auto;
    margin-top: 15px;
    width: 700px;

    height: 1px;
    
    background: linear-gradient(270deg, rgb(211, 211, 211) 52.52%, rgba(255, 255, 255, 0) 104.99%);
    border: none;
}

#contact #contact-form {
    margin-top: 50px;
    padding: 35px;

    width: 800px;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    background: #0d0d0dda;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(49, 49, 49, 0.3);
}

#contact #contact-form label, #contact #contact-form input, #contact #contact-form textarea  {
    display: inline-block;
    align-self: flex-start;

}

#contact #contact-form input, #contact #contact-form textarea {

    background: rgba(47, 47, 47, 0.35);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(0, 0, 0, 0.72);

    color: #fff;
}

#contact #contact-form label {
    color: #fff;
    font-size: 1.1em;
    font-family: var(--source-code-font);
}


#contact #contact-form input {
    margin-bottom: 20px;
    margin-top: 15px;

    height: 35px;
    width: 355px;
}

#contact #contact-form textarea {
    margin-bottom: 20px;
    margin-top: 15px;

    height: 135px;
    width: 650px;
}