
#landing-page {
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

#landing-page #main-navigation {
    border-bottom: var(--secondary-project-border);

    max-width: 1440px;
    width: 1440px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing-page #main-navigation ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;

    width: 1440px;
}

#landing-page #main-navigation ul li a{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    color: #FFF;
}

#landing-page #main-navigation ul li a:hover {
    color: #B50000;
}

.landing-content-wrapper {
    height: 80vh;
    width: 1440px;

    /* background-image: url(../assets/LOGO.svg);
    background-position: center center;
    background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.landing-content-wrapper .main-heading h1 {
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 25px;
    margin-left: 25px;
    margin-top: 10px;

    color: #B50000; 
    text-align: center;
}

.landing-content-wrapper .main-heading h2{
    color: #FFF;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 25px;
    margin-left: 25px;

}

.landing-content-wrapper hr{
    margin-top: 25px;

    width: 400px;
    height: 1px;
    
    background: linear-gradient(270deg, rgb(211, 211, 211) 52.52%, rgba(255, 255, 255, 0) 104.99%);
    border: none;
}

.landing-content-wrapper a {
    font-size: 1.3em;
    color: #dadada8d;
    text-transform: uppercase;
    font-family: var(--goldman-font);
    letter-spacing: 10px;
    margin-left: 10px;
    text-align: center;
    margin-top: 150px;
}

.landing-content-wrapper a:hover {
    color: #B50000;
}
