#who-is-lubiku {
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 100px 50px;
    color: #FFF;

}

#who-is-lubiku .heading {
    width: 1200px;
    margin: 0 auto;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFF;
}

#who-is-lubiku h2 span {
    font-family: var(--goldman-font);
    color: #B50000;
    font-weight: 400;
}

#who-is-lubiku  hr{
    margin-top: 15px;

    width: 600px;
    height: 1px;
    
    background: linear-gradient(270deg, rgb(211, 211, 211) 52.52%, rgba(255, 255, 255, 0) 104.99%);
    border: none;
}

#interests {
    margin: 0 auto;
    margin-top: 15px;
    width: 1200px;
    font-size: .8em;
    color: #b5000075;
    letter-spacing: .26em;
    line-height: 1.3em;
    font-family: var(--source-code-font);
}

#interests span:hover {
    cursor: pointer;
    color: #B50000;
}

#who-is-lubiku .who-is-lubiku-me {
    margin: 0 auto;
    margin-top: 45px;
    width: 1200px;
    

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px; 
}

#who-is-lubiku .who-is-lubiku-caption p {
    font-size: 1.2em;    
    line-height: 1.8em;
    font-family: var(--source-code-font);
}

#who-is-lubiku .who-is-lubiku-caption p span {
    color: #B50000;
    font-family: var(--source-code-font);
}

#who-is-lubiku img {
    width: 400px;   
    align-self: left;
}

#who-is-lubiku .social-icons {
    margin: 0 auto;
    margin-top: 25px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px
}

#who-is-lubiku .social-icons a img{
    width: 35px;
    opacity: .3;
}

#who-is-lubiku .social-icons a img:focus{
    opacity: 1;
    transition: opacity 1s ease-out;
}

#who-is-lubiku .social-icons a img:hover{
    opacity: 1;
    transition: opacity .5s ease-out;
}

#codewars-activity {
    display: inline-block;
    margin-top: 20px;
}

#continue-to-stats {
    margin: 0 auto;
    display: block;

    margin-top: 155px;
    width: 300px;
    color: #dadada8d;
    font-family: var(--goldman-font);
    font-size: 1.5em;

    text-align: center;
    font-weight: 300;
    text-transform: uppercase;

    text-align: center;

    cursor: pointer;

    letter-spacing: 12px;
}

#continue-to-stats:hover {
    color: #B50000;
}

