
/*=========== FONTS ===========*/

/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Source Code Pro Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/* Goldman Font */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/* Unica One */
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/*=========== LINKED CSS ===========*/

@import url(./sections/landing-section.css);
@import url(./sections/main-section.css);
@import url(./sections/profile-stats-section.css);
@import url(./sections/projects-section.css);
@import url(./sections/footer-section.css);
@import url(./sections/back-to-main-web.css);

/* CSS FOR OTHER PARTS OF WEB */
@import url(./contact-webpage-styles/contact-webpage.css);
@import url(./blog-webpage-styles/blog-webpage.css);



/*=========== ROOT ===========*/
:root {
    /*---------- PROJECT FONTS ----------*/
    --montserrat-font: 'Montserrat', monospace;
    --source-code-font: 'Source Code Pro', monospace;
    --goldman-font: 'Goldman', monospace;

    /*---------- PROJECT THEME COLORS ----------*/
    --primary-dark-theme: #030304;
    --primary-light-theme: #FFFFFF;

    /*---------- PROJECT TEXT COLORS ----------*/
    --primary-light-text: #FCFCFC;

    --red-enchanted-text: #DC0000;
    --blue-enchanted-text: #0400D3;
    --yellow-enchanted-text: #EBE100;
    --purple-enchanted-text: #9A00D0;
    --green-enchanted-text: #00D72F;

    /*---------- PROJECT BORDERS ----------*/
    --primary-border: 0.5px solid rgba(71, 71, 71, 0.5);
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* default font for all */
    font-family: var(--montserrat-font);
}

body {
    min-width: 320px;
    min-height: 100vh;
    max-width: 1920px;


    margin: 0 auto;

    background: var(--primary-dark-theme);
    color: var(--primary-light-text);

    border-left: var(--primary-border);
    border-right: var(--primary-border);
}

main {
    display: block;
}

h1, h2 {
    margin: 0;

    font-size: 2em;
    text-transform: uppercase;
    font-family: var(--goldman-font);
}

hr {
    box-sizing: content-box;
    height: 0;

    overflow: visible;
}

ol, ul, li {
    list-style-type: none;
}


a {
    background-color: transparent;
    color: var(--primary-light-text);
    
    text-decoration: none;
    cursor: pointer;
}

span.enchanted {
    color: var(--red-enchanted-text);
}

.social-media-link {
    opacity: .5;
}

.social-media-link:hover, .social-media-link:focus {
    opacity: 1;
}

@media screen and (min-width:1440px) {
    body {
        width: 1440px;
    }
}

@media screen and (max-width:480px) {
    body {
        width: 100%;
    }
}





/*=========== FONTS ===========*/
/*=========== FONTS ===========*/
/*=========== FONTS ===========*/
/*=========== FONTS ===========*/
/*=========== FONTS ===========*/
/*=========== FONTS ===========*/
