
#about {
    height: 100vh;

    margin: 0 auto;
    padding: 20px 0 ;
    width: 1440px;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#about .about-heading {
    margin: 0 auto;
    width: 1200px;

    font-size: 2em;
    text-transform: uppercase;
}

#about .about-heading h2 {
    font-weight: 300;
}

#about .about-heading hr {
    margin-top: 15px;
    width: 300px;

    height: 1px;
    
    background: linear-gradient(270deg, rgb(211, 211, 211) 52.52%, rgba(255, 255, 255, 0) 104.99%);
    border: none;
}

#about h2 span {
    color: #00B2FF;
    font-weight: 400;
}

#interests {
    margin: 0 auto;
    margin-top: 15px;
    width: 1200px;
    font-size: .8em;
    color: #00b3ff5c;
    letter-spacing: .26em;
    line-height: 1.3em;
}

#interests span:hover {
    cursor: pointer;
    color: #00B2FF;
}

#about .about-me {
    margin: 0 auto;
    margin-top: 45px;
    width: 1200px;
    

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px; 
}

#about .about-caption p {
    font-size: 1.2em;    
    line-height: 1.8em;
}

#about .about-caption p span {
    color: #00B2FF;
}

#about img {
    width: 400px;   
    align-self: left;
}

#about .social-icons {
    margin: 0 auto;
    margin-top: 25px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px
}

#about .social-icons a img{
    width: 35px;
    opacity: .3;
}

#about .social-icons a img:focus{
    opacity: 1;
    transition: opacity 1s ease-out;
}

#about .social-icons a img:hover{
    opacity: 1;
    transition: opacity .5s ease-out;
}

#continue-to-stats {
    display: block;

    margin-top: 30px;
    width: 300px;

    padding: 15px 10px 15px 22px;
    border: 1px solid #00B2FF;

    text-align: center;
    font-weight: 300;
    text-transform: uppercase;

    text-align: center;

    cursor: pointer;

    letter-spacing: 12px;
}


#continue-to-stats span {
    color: #00B2FF;
}

#continue-to-stats:hover {
    border: 1px solid #FFF;
}