
.squares-parent {
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.square1 { grid-area: 1 / 1 / 2 / 2; }
.square2 { grid-area: 1 / 2 / 2 / 3; }
.square3 { grid-area: 1 / 3 / 2 / 4; } 