@import url(./progress-bars.css);

#tech-stats {
    height: 100vh;

    margin: 0 auto;
    width: 1440px;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tech-stats .tech-stats-heading {
    margin: 0 auto;
    width: 1440px;

    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

#tech-stats .tech-stats-heading h2 {
    font-weight: 300;
}

#tech-stats .tech-stats-heading hr {
    margin: 0 auto;
    margin-top: 15px;
    width: 700px;

    height: 1px;
    
    background: linear-gradient(270deg, rgb(211, 211, 211) 52.52%, rgba(255, 255, 255, 0) 104.99%);
    border: none;
}

#tech-stats h2 span {
    color: #00B2FF;
    font-weight: 400;
}

#tech-stats img {
    margin-top: 200px;
}